.contact-page {
  max-width: 1200px;
  margin: 30px auto;
  padding: 20px;
  text-align: center;
}

.contact-title {
  font-size: 42px;
  margin-bottom: 10px;
}

.contact-subtitle {
  color: #666;
  margin-bottom: 50px;
}

.contact-layout {
  display: flex;
  gap: 60px;
  justify-content: center;
}

/* Shared card */
.contact-box {
  background: #fff;
  padding: 30px;
  border-radius: 14px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.06);
  text-align: left;
}

/* Left form */
.form-text {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.contact-box label {
  display: block;
  margin-top: 15px;
  font-size: 14px;
}

.contact-box input,
.contact-box textarea {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.contact-box textarea {
  height: 120px;
  resize: none;
}

.contact-box button {
  margin-top: 20px;
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: var(--secondary);
  font-size: 16px;
  cursor: pointer;
}

.contact-box button:hover {
  background: rgb(41, 112, 217);
}

/* Right location */
.location-box {
  border: 2px solid #b6b3f5;
}

.map-container iframe {
  width: 100%;
  height: 220px;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
  margin-top: 8px;
}

.location-info p {
  margin-bottom: 10px;
}

.location-info i {
  color: #362db4;
  margin-right: 8px;
}

