* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 40px;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

.nav-logo img {
  height: 120px;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-menu li {
  position: relative;
}

.nav-menu a {
  text-decoration: none;
  color: #626262;
  font-size: 18px;
  padding-bottom: 5px;
  transition: 0.3s ease;
}

.nav-menu a.active,
.nav-menu a:hover {
  color: #000;
}

.nav-menu a.active::after,
.nav-menu a:hover::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  bottom: -3px;
  left: 0;
}

.nav-search .search-input {
  padding: 8px 15px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  font-size: 15px;
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 20px;
}

.login-btn {
  padding: 8px 18px;
  border: none;
  background-color: #008cff;
  color: white;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background-color: #006fd1;
}

.nav-cart-count {
  background-color: red;
  color: white;
  padding: 2px 7px;
  border-radius: 50%;
  font-size: 13px;
  position: relative;
  top: -10px;
  right: 10px;
}

.hero {
    background-image: url('../Images/bgfishify.jpg');
    background-size: cover;       /* Makes image cover full area */
  background-position: center;  /* Centers the image */
  background-repeat: no-repeat; /* Avoids repeating */
    color: white;
    height: 100vh;
    /* padding:  30rem; */
    text-align: center;
}